*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::selection{
    color: #1f1f1f;
    background-color: #22d3ee;
    text-shadow: none;
}

html{
    background-color: #1f1f1f;
}

h2{
    display: inline-block;
}

h2.animated {
    color: #ffedd5 !important;
    text-shadow: -1px -1px #22d3ee, 1px 1px #d946ef;
    animation: smallGlitchAnim .1s 0s linear;
}

@media (min-width: 768px) {
    h2.animated {
        text-shadow: -1.5px -1.5px #22d3ee, 1.5px 1.5px #d946ef;
    }
}

@keyframes smallGlitchAnim{
    0% { transform: skewX(0deg); }
    50% { transform: skewX(-90deg); }
    100% { transform: skewX(0deg); }
}